<div class = "container">
    <div class = "row align-items-center">
        <div class = "col-6">
            <br>
            <h1>Expandir grupo</h1>
        </div>
        <hr>

        <div class = "col-2 m-2 p-2">
            <%= link_to 'Agregar grupo', new_group_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>

<div class = "mt-5 container">
    <% @groups.each do |group| %>
        <div class="row align-items-center border mb-4 p-2">
            <div class="col-10 border-right">
                <%= group.name_program %>
            </div>
            
            <div class="col-2 border-left">
                <div class="btn-group">
                    <%= link_to 'Ver', group_path(group), class: "btn btn-primary" %>
                    <%= link_to 'Borrar', group_path(group),
                        method: :delete,
                        data: { confirm: '¿Está seguro de borrar este grupo?' },
                        class: "btn btn-danger" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
